<%= content_tag(:h3, "Hola,") %>
<%= content_tag(:p, "Por favor use el siguiente link para recuperar su contraseña") %>
<%= content_tag(:p, link(@url, to: @url)) %>
<%= content_tag(:p, "Puede ignorar este correo electrónico si no solicitó un restablecimiento de contraseña.") %>
