<section style="margin-top: 15px;" class="jumbotron">
  <%= if !@user do %>
    <h1 style="text-align: center">Bienvenido al sistema de gestión</h1>
  <% else %>
    <h1 style="text-align: center">Bienvenido al sistema de gestión <%= @user.email %></h1>
  <% end %>
  <p style="text-align: center">Sitio en construcción...</p>
</section>
